#homepage {
    display: flex;
    justify-content: center;
}

.homeCard {
    display: flex;
    border-radius: 5px;
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }
  
  @keyframes hideCard {
    0%,
    100% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(180deg);
    }
  }
  
  .homeCard img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(0);
  }
  
  .homeCard.active {
    transform: rotateY(0);
    pointer-events: none;
  }
  
  .homeCard.active img {
    transform: scale(1);
  }
  
  .homeCard.inactive {
    background-image: url("/src/img/cardBack.png");
    object-fit: contain;
    width: 100%;
    background-size: 100% 100%;
  }